name: CI

on: [push, pull_request]

jobs:
  golang:
    name: Build and test

    runs-on: ubuntu-latest

    strategy:
      matrix:
        go: [ 'oldstable', 'stable' ]

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go }}

    - run: go version
    - run: go build ./...
    - run: go test -race -v ./...

    - uses: golangci/golangci-lint-action@v9


  golang_cross:
    name: Cross Compile

    runs-on: ubuntu-latest

    strategy:
      matrix:
        go: [ 'oldstable', 'stable' ]
        goos: [ 'freebsd', 'linux', 'openbsd' ]

    env:
      GOOS: ${{ matrix.goos }}

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go }}

    - run: go build ./...
      env:
        GOOS: ${{ matrix.goos }}
        CGO_ENABLED: 0
